/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_23-06-2023_14_01_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_23-06-2023_14_01__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
